asgiref==3.5.0
branca==0.4.2
certifi==2021.10.8
charset-normalizer==2.0.12
Django==3.2.13
djangorestframework==3.13.1
idna==3.3
Jinja2==3.1.1
MarkupSafe==2.1.1
python-dotenv==0.19.2
pytz==2022.1
requests==2.27.1
sqlparse==0.4.2
typing-extensions==4.1.1
urllib3==1.26.9
folium==0.12.1.post1
