* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {

  font-size: 14px;
}

#search {
  margin-left: -38px;
}

#searchfield {

  margin-top: 10px;
  height: 25px;
  border-radius: 3px;
  padding-left: 8px;
  border: 0.1px solid rgb(187, 179, 179);

}

#searchfield:focus {
  border: 0.5px solid #04AA6D;
  outline: none;
}

#searchfield:hover {
  border: 0.5px solid #04AA6D;
  outline: none;
}

#search-btn {
  margin-top: 10px;
  margin-right: 14px;
  height: 25px;
  width: 50px;
  border-radius: 3px;
  text-align: center;
  border: none;

}

#search-btn:hover {
  background-color: #04AA6D;
  color: white;
}




nav ul li p {
  position: absolute;
  font-size: 24px;
  display: block;
  color: white;
  text-align: center;
  padding-top: 7px;
  left: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #282a35;
  position: sticky;
  top: -0.5px;
  overflow: hidden;
  width: 100%;
  color: aliceblue;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: right;

}

li {

  color: aliceblue;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.a:hover {
  background-color: #111;

}

#login-decor {
  background-color: #04AA6D;
}

#login-decor:hover {
  background-color: red;
}

#logout-decor {
  background-color: red;
}

#logout-decor:hover {
  background-color: #04AA6D;
}

/* dropdown */

/*  */
.card_top {
  display: flex;
  justify-content: center;
  align-items: center;

}

img {

  width: 300px;
  height: 250px;
  object-fit: fill;
}

.wrapper {
  width: 100%;
  margin: 20px auto;
  background-color: white;
}

.cards_wrap {
  display: flex;
  flex-wrap: wrap;
}

.card_item {
  width: 25%;
  padding: 10px;
}

.card_inner {
  border: 0.5px solid #282a35;

  color: black;
}

.card_top {
  width: 100%;
  min-height: 225px;
  padding: 10px;
  padding-bottom: 0;
}

.card_bottom {
  padding: 15px;
}

.card_category {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.card_info {
  padding: 15px;
  margin: 10px 0;

}

#icons {

  height: 26px;
  width: 26px;
}

/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #04AA6D;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*  */
.title {
  color: #0071bc;
  font-size: 18px;
  margin-bottom: 5px;
}

.status {
  background-color: black;
  color: white;
  padding: 1.5px 1.5px 1.5px 1.5px;
}

.card_creator {

  display: flex;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .cards_wrap .card_item {
    width: 33.3%;
  }
}

@media (max-width: 768px) {
  .cards_wrap .card_item {
    width: 50%;
  }
}

@media (max-width: 528px) {
  .cards_wrap .card_top {
    height: auto;
  }

  .cards_wrap .card_item {
    width: 100%;
  }
}