body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    height: 100vh;
    width: 100%;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading {
    color: #04AA6D;
    font-size: 2rem;
}

.box {
    border: 0.1px solid rgb(187, 179, 179);
    border-radius: 8px;
    margin: 15px 0px 0px 18px;
    height: 35px;
    width: 340px;
    padding-left: 10px;
    font-size: 18px;

}

.box:focus {
    border-color: #04AA6D;
    outline: none;
}


#submit {
    border: none;
    background-color: #04AA6D;
    margin-top: 15px;
    margin-left: 18px;
    margin-bottom: 15px;
    border-radius: 8px;
    height: 50px;
    width: 365px;
    color: white;
    font-size: 20px;
    font-weight: 600;

}

#submit:hover {
    background-color: #000000;
}

#signin {

    text-decoration: none;
    color: #00A4C5;
    font-size: 1.1rem;
}

#fk {
    font-size: 14.8px;
    margin: 10px 0px 10px 35px;
    color: #47544f;
}