{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in</title>
  
 <link rel="stylesheet" href={%static "sign_in.css"%}>
</head>

<body>

    <div class="container">
        
        <div id="sign-in">
            <div id="heading">
                <p>Sign in</p>
            </div>
            <form action="sign_in" method='POST'>
                {% csrf_token %} 
                <input class="box" type="text" name="username" id="" required placeholder='username'><br>
                <input class="box" type="password" name="password" id="" required placeholder='password'><br>
                <input class="box" id="submit" type="submit"  value="Log In">
                
            </form>
            <p id="fk">Need an account? <a id="signup" href="{%url 'sign_up'%}">Sign up</a></p>
        </div>
        
    </div>
</body>

</html>