body{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: black;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


#sign-up{
    height: 50%;
    width: 30%;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading{
    background-color: brown;
    color: white;
    font-size: 24px;
}